// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-page {
    background-image: url('../images/frontpage.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
