<ul>
  <% @movie.reviews.each do |review| %>
    <li>
      <span class="review"><strong><%= pluralize(review.stars, 'Star') %></strong></span>
      <span class="user">by <strong><%= link_to review.name %></strong></span>
      <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
      <p>
        &quot;<%= review.comment %>&quot;
      </p>
    </li>
  <% end %>
</ul>
